# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/aula13(for)/combincaoAula135/nbproject/private/
/aula13(for)/combincaoAula135/build/
/aula13(for)/fibonaciLista413/nbproject/private/
/aula13(for)/fibonaciLista413/build/
/aula13(for)/produtividadeFuncionarioLista421/nbproject/private/
/lista4(estruturas_de_repetição)/produtividadeFuncionarioLista521/nbproject/private/
/lista4(estruturas_de_repetição)/produtividadeFuncionarioLista521/build/
/Provas/Prova2/Prova2Ex1/nbproject/private/
/Provas/Prova2/Prova2Ex1/build/
/Provas/Prova2/Prova2Ex2/nbproject/private/
/Provas/Prova2/Prova2Ex2/build/
/lista4-funcoes/produtividadeFuncionarioLista521/nbproject/private/
/Aula03-ComandoEntradaSaidaVariaveis/nbproject/private/
/Aula03-ComandoEntradaSaidaVariaveis/build/
/Aula4-OperadoresAritmeticos/nbproject/private/
/Aula04-OperadoresAritmeticos/nbproject/private/
/Aula04-OperadoresAritmeticos/build/
/Aula05-OperadorBooleanos/nbproject/private/
/Aula05-OperadorBooleanos/build/
/Aula06-IfElse/nbproject/private/
/Aula06-IfElse/build/
/Aula07-Elif/nbproject/private/
/Aula08-SwitchCase/nbproject/private/
/Aula08-SwitchCase/build/
/Aula07-Elif/build/
/Aula09-ConversaoDeTipo/nbproject/private/
/Aula09-ConversaoDeTipo/build/
/Aula10-FuncoesMatematicas/nbproject/private/
/Aula11-ChamadaDeFuncoes/nbproject/private/
/Aula12-Modularizacao/nbproject/private/
/Aula12-Modularizacao/build/
/Aula13-For/nbproject/private/
/Aula14-While/nbproject/private/
/Lista01-Introducao/nbproject/private/
/Lista01-Introducao/build/
/Lista02_OperadoresVariaveis/nbproject/private/
/Lista02_OperadoresEVariaveis/nbproject/private/
/Lista02_OperadoresEVariaveis/build/
/Lista03-EstruturasDeSeleção/nbproject/private/
/Lista03-EstruturasDeSeleção/build/
/Lista02-OperadoresEVariaveis/nbproject/private/
/Lista04-Funcoes/nbproject/private/
/Lista04-Funcoes/build/
/Aula11-ChamadaDeFuncoes/build/
/Aula15-Vetores/nbproject/private/
/Aula15-Vetores/build/
/Aula16-PassagemParametros/nbproject/private/
/Aula16-PassagemParametros/build/
/DesafiosSemAula/nbproject/private/
/DesafiosSemAula/build/
/Lista05-EstruturasDeRepeticao/nbproject/private/
/Lista06-VetoresMatrizesStrings/nbproject/private/
/Lista05-EstruturasDeRepeticao/build/
/Aula17-Strings/nbproject/private/
/Aula17-Strings/build/
/Lista06-VetoresMatrizesStrings/build/
